extends ../layouts/default

block content
  if user
    h5 You are logged in:
      |
      |
      a( href='/logout' ) Logout
      |

    h5 You must have at least one provider registered

  each item in providers
    a.mx-2.btn(
      class=isLoggedIn && isLoggedIn(item.id) ? 'btn-outline-danger' : 'btn-outline-primary'
      class=isLoggedIn && isLoggedIn(item.id) && disableLogin ? 'disabled' : ''
      href='/provider' + (isLoggedIn && isLoggedIn(item.id) ? '/unlink/' : '/link/') + item.id
      role="button"
    ) #{item.name}

  if user
    p #{ token }
